<nav>
<div class="nav-wrapper indigo darken-2">
    <div class="container">


        {% if user.is_authenticated %}
    <a href="#" data-target="mobile-demo" class="sidenav-trigger waves-effect waves-light"><i class="material-icons">menu</i></a>

        <ul class="left hide-on-med-and-down">
            <li><a href="{% url 'app:home' %}">Home</i></a></li>
        <li><a href="/createbiddings">Create Service</a></li>
        <li><a href="/admin/app/placementbid/">View Biddings</a></li>
        <li><a href="">Dashboard</a></li>

    </ul>
        {% else %}
        <a href="{% url 'app:home' %}" class="brand-logo" style="font-size: 1.3rem;">
       <strong>BIDDING PLATFORM</strong></a>
        {% endif %}


    <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a class="btn-small waves-effect waves-light grey darken-4" href="{% url 'app:logout' %}">Logout</a></li>
            <li>Logged in as <strong>{{ user.username }}</strong></li>
        {% else %}
        <li>
            <a class="btn-small waves-effect waves-light pink" href="{% url 'app:register' %}">
                Register
            </a>
            </li>
        <li>
            <a class="btn-small waves-effect waves-light pink" href="{% url 'app:login' %}">
                Login
            </a>
        </li>
        {% endif %}
    </ul>
</div>
</div>
</nav>

